@use "../UTILITIES/variables";
@use "../base/mixins";
@use "../base/extends";

main {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.main-section {
    flex: 1;
    // Usamos el mixin para el layout de columna
    @include mixins.flex-column-centered(60px); 
    gap: 20px;

    h4 {
        font-size: 20px;
        letter-spacing: 2px;
        // Extendemos el estilo de texto en mayúsculas
        @extend %uppercase-text; 
    }

    h1 {
        font-size: 80px;
        line-height: 1;
    }
}

.second-main-section p {
    font-size: 16px;
    // Extendemos el estilo de texto en mayúsculas
    @extend %uppercase-text;
}

.imagen-compu {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;

  img {
    max-width: 100%;
    height: auto;
  }
}
.img-keanu{
  max-width: 40%;
  height: 60%;
}

header {
  position: absolute;
  top: 5vh;
  left: 4vh;
  width: calc(100% - 80px);
  z-index: 10;
}
.img-plato {
    max-width: 500px; /* Ajusta este valor según lo necesites */
    height: auto; /* Mantiene la proporción de la altura */
}
