@use "../utilities/variables";

.navbar {
  display: flex;
  justify-content: flex-start;

  ul {
    display: flex;
    list-style: none;
  }

  .nav-link {
    text-decoration: none;
    color: variables.$color-black;
    font-size: 14px;
    position: relative;

    &::after {
      content: '';
      display: block;
      width: 0%;
      height: 1px;
      background: variables.$color-black;
      transition: width 0.3s;
      margin-top: 4px;
    }

    &:hover::after {
      width: 100%;
    }
  }
}