@use "../UTILITIES/variables";
@use "../base/mixins";

.navbar {
    display: flex;
    justify-content: flex-start;

    ul {
        display: flex;
        list-style: none;
    }

    .nav-link {
        text-decoration: none;
        color: variables.$color-black;
        font-size: 14px;
        position: relative;
        
        // Usamos el mixin para el efecto de hover
        @include mixins.nav-link-hover(variables.$color-black);
    }
}