@import 'scss/abstracts/variables';
@import 'scss/layout/main';
@import 'scss/layout/header';
@import 'scss/layout/carousel';

@import 'scss/components/botones';
@import 'scss/components/navbar.scss';

$primary-color: #dbf1d0c5;

body{
    background-color: $primary-color;
}
@mixin border-radius($radius){
    border-radius: $radius;
} 
