.carousel {
  margin-left: 250px;
  margin-bottom: 150px;

  &-img-w,
  &-img-l,
  &-img-ig,
  &-img {
    max-width: 200px;
    max-height: 200px;
    margin: auto;
  }

  &-img-w {
    background-color: $color-green-translucent;
    padding: 10px;
    border-radius: 10px;
  }

  &-img {
    max-width: 400px;
    max-height: 400px;
  }

  &-control-prev-icon,
  &-control-next-icon {
    filter: invert(1);
  }
}
